<h1 class="display-6">
  Add Article
</h1>
<form style="width: 30%;" method="get" action="/articles/save" class="form-group">
  <input type="text" class="form-control" name="title" placeholder="Add title">
  <br>
  <input type="text" class="form-control" name="description" placeholder="Add description">
  <br>
  <button type="submit" class="btn btn-success">Add</button>
  <a href="/articles/list" class="btn btn-danger">Cancel</a>
</form>
